@import url(http://fonts.googleapis.com/css?family=Raleway:300,100);

/* every screen */
@media only screen {
	* {margin:0; padding:0;} 

	/* sticky footer opera fix */
	body:before {content:""; height:100%; float:left; width:0; margin-top:-32767px;}

	html , body {
	  height: 100%;
	}

	body , h1 , h2 , h3 , h4 , h5 , h6 , button , select , option, input , textarea {
		font-family: 'Raleway', sans-serif;
	}

	h1 , h2 , h3 , h4 , .afams-logo {
		font-weight: 100;
	}

	.afams-logo {
		font-size: 30px;
	}

	/* sticky footer */
	#wrap { min-height: 100%; }
	#main { overflow:auto; padding-bottom: 345px; }  /* must be same height as the footer */
	.footer {
		position: relative;
		margin-top: -345px; /* negative value of footer height */
		height: 345px;
		clear:both;
		background: #666 url(../images/afams_logo_footer.png) no-repeat center 40px;
		text-align: center;
		color: #ccc;
	}

	.footer .container {
		padding-top: 170px;
	}
	.footer .actlap {
		font-size: 16px;
		color: #333;
		margin-bottom: 10px;
	}
	.footer .legal span {
		font-size: 12px;
		margin: 0px 10px;
	}
	.footer .legal span , .footer .legal span a , .footer .legal span a:hover {
		color: #999;
		text-decoration: none;
	}

	

	.header {
		margin-bottom: 10px;
	}
	.header .afams-logo {
		background: #fff url(../images/afams_logo_header_full.png) no-repeat center 10px;
		padding-top: 130px;
		text-align: center;
	}
	.header a , .header a:hover {
		color: #333;
		text-decoration: none;
	}
	.header .login-logout {
		text-align: right;
		margin-top: 6px;
		margin-bottom: -36px;
	}



	.nav-outer-stich {
		height: 30px;
		background: url(../images/stich.png) repeat-x center center;
	}
	.navigation {
		text-align: center;
	}
	.navigation a {
		text-transform: uppercase;
		letter-spacing: .4em;
		color: #fff;
		padding: 20px;
		line-height: 30px;
	}
	.navigation a:hover {
		text-decoration: none;
		opacity: 0.5;
	}

	.homepage-back {
		position: absolute;
		width: 100%;
	}
	.homepage-back .row , .homepage-back .col-xs-6 {
		padding: 0px;
		margin: 0px;
	}
	.homepage-back .spacer {
		height: 320px;
	}
	.homepage-front {
		margin-bottom: 60px;
	}
	.homepage-front .col-xs-6 {
		text-align: center;
		padding-top: 20px;
	}
	.homepage-front a {
		color: #fff;
		opacity: 0.7;
		font-size: 16px;
	}
	.homepage-front a:hover {
		opacity: 1;
		text-decoration: none;
	}


	.default-fill {
		background-color: #333;
	}
	.default-border {
		border-color: #ccc;
	}

	.designer-fill {
		background-color: #5C9EBF;
	}
	.designer-border {
		border-color: #5C9EBF;
	}


	.models-fill {
		background-color: #3BD5E0;
	}
	.models-border {
		border-color: #3BD5E0;
	}


	.events-fill {
		background-color: #7AA8AE;
	}
	.events-border {
		border-color: #7AA8AE;
	}


	.sponsors-fill {
		background-color: #E55757;
	}
	.sponsors-border {
		border-color: #E55757;
	}


	.icon-large {
		width: 210px;
		height: 210px;
		background-size: 210px 210px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 20px auto 0px auto;
	}

	.icon-large.designers {
		background-image: url(../images/icon_large_designers.png);
	}
	.icon-large.models {
		background-image: url(../images/icon_large_models.png);
	}
	.icon-large.designers-white {
		background-image: url(../images/icon_large_designers_white.png);
	}
	.icon-large.models-white {
		background-image: url(../images/icon_large_models_white.png);
	}
	.icon-large.sponsors {
		background-image: url(../images/icon_large_sponsors.png);
	}
	.icon-large.events {
		background-image: url(../images/icon_large_events.png);
	}
	.icon-large.login {
		background-image: url(../images/icon_large_login.png);
	}

	.custom-icon {
		display: block;
		float: left;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.icon-plus {
		background-image: url(../images/icon_plus.png);
	}

	.icon-cross {
		background-image: url(../images/icon_cross.png);
	}
	.icon-login {
		background-image: url(../images/icon_cross.png);
	}
	.icon-register {
		background-image: url(../images/icon_cross.png);
	}
	.icon-search-designer {
		background-image: url(../images/icon_search_designer.png);
		float: right;
	}
	.icon-search-models {
		background-image: url(../images/icon_search_models.png);
		float: right;
	}

	.page-big-title {
		font-size: 90px;
		text-align: center;
		font-weight: 100;
	}


	.results-grid .col-sm-4 {
		text-align: center;
	}
	.results-grid .icon-plus {
		position: absolute;
	}
	.results-grid img {
		background: url(http://www.designerzcentral.com/images/models/118/ajuma_nasenyana_12.jpg) no-repeat center center #ccc;
		width: 160px;
		height: 160px;
		border-radius: 80px;
		display: block;
		margin: 10px auto;
	}

	
	.events-grid .col-sm-4 {
		text-align: center;
		margin-bottom: 40px;
	}
	.events-grid .event-circle {
		margin: 10px auto;
		width: 90px;
		height: 90px;
		border-radius: 45px;
		background-color: #ccc;
		color: #fff;
		text-align: center;
		font-size: 30px;
		line-height: 90px
	}
	.events-grid .event-circle a {
		color: #fff;
	}
	.events-grid .event-circle a:hover {
		opacity: 0.5;
		text-decoration: none;
	}


	.container.sponsors {
		text-align: center;
	}

	.container.sponsors h3 {
		color: #999;
	}


	.profile-view.models a {
		color: #3BD5E0;
	}
	.profile-view.designers a {
		color: #5C9EBF;
	}
	.profile-view a:hover {
		text-decoration: none;
	}
	.profile-view h1 {
		text-align: center;
		font-size: 50px;
	}
	.profile-view h2 {
		text-align: center;
	}
	.profile-view h3 {
		margin-top: -30px;
	}
	.profile-view img#profile-photo {
		background: url(http://www.designerzcentral.com/images/models/118/ajuma_nasenyana_12.jpg) no-repeat center center #ccc;
		width: 210px;
		height: 210px;
		border-radius: 105px;
		display: block;
		margin: 30px auto 0px auto;
	}
	.profile-view .col-sm-4 img {
		margin: 10px auto;
	}


}


/* ipad retina background */
@media only screen and (-webkit-min-device-pixel-ratio : 2) {
	
}



@media only screen and (max-width : 610px) {
	.afams-logo {
		font-size: 20px;
	}

	.navigation a {
		padding: 4px;
		line-height: 20px;
		letter-spacing: .1em;
	}

	.homepage-back .spacer {
		height: 200px;
	}

	.page-big-title {
		font-size: 50px;
	}

	.icon-large {
		width: 160px;
		height: 160px;
		background-size: 160px 160px;
		margin: 10px auto;
	}

	.homepage-front h1 {
		font-size: 20px;
	}

	.homepage-front .icon-large {
		width: 110px;
		height: 110px;
		background-size: 110px 110px;
		margin: 10px auto;
	}
}
